<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title>MyNotes</title>
  </head>

  <body>
    <form action="../api/addnotes" enctype="multipart/form-data" method="post">
      <table>
        <tr><td align="center" colspan="2"><font style="font-size:40px;">take notes</font></td></tr>
        <tr><td>title：</td><td><input type="text" name="title"/></td></tr>
        <tr><td>notes:</td><td><textarea name="content" rows="10" cols="80"></textarea></td></tr>
        <tr><td><input type="submit" value="Register"/></td><td></td></tr>
      </table>
    </form>
    <a href='../api/getnotes'>See your notes</a></br>
    <a href='./homepage.html'>Return to homepage</a>
  </body>
</html>
